html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: #3D3D3D;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.heading-1 {
  color: #080F4D;
  font-weight: bold;
  font-size: 8rem;
  line-height: 184%;
  margin: 2rem 0;
}


@media screen and (max-width: 750px) {
  html {
    font-size: 35%;
  }

  .heading-1 {
    font-size: 6rem;
  }
}

.toasted-container .toasted .action {
  font-size: 1.5rem !important;
  color: white
}
